#header-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  line-height: 38px;
}
#header-container h1,
#header-container h2,
#header-container h3,
#header-container h4,
#header-container h5,
#header-container h6 {
  display: inline;
  vertical-align: middle;
}
#nav-bar {
  display: block;
  position: relative;
  height: auto;
  padding-top: 24px;
  padding-bottom: 20px;
}
#nav-bar .win-backbutton {
  position: absolute;
  left: 0;
  top: 0px;
}
.page-header {
  border-bottom: 0;
}
